@font-face {
    font-family: RecklessNeue-Book;
    font-weight: medium;
    src: url("../assets/fonts/RecklessNeue-Book.woff") format("woff");
}

@font-face {
    font-family: Dia-Regular;
    font-weight: 400;
    src: url("../assets/fonts/Dia-Regular.woff") format("woff");
}

@font-face {
    font-family: Dia-Regular;
    font-weight: 600;
    src: url("../assets/fonts/Dia-Bold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: 'DuttiW-Medium';
    src: url("../assets/fonts/DuttiW-Medium.woff2") format("woff2"),url("../assets/fonts/DuttiW-Medium.woff") format("woff")
}

@font-face {
    font-family: dutti-daily-regular;
    src: url("../assets/fonts/dutti-daily-regular.woff2") format("woff2"),url("../assets/fonts/dutti-daily-regular.woff") format("woff")
}

@font-face {
    font-family: dutti-daily-bold;
    src: url("../assets/fonts/dutti-daily-bold.woff2") format("woff2"),url("../assets/fonts/dutti-daily-bold.woff") format("woff")
}

@font-face {
    font-family: dutti-extended-extrabold;
    src: url("../assets/fonts/dutti-extended-extrabold.woff2") format("woff2"),url("../assets/fonts/dutti-extended-extrabold.woff") format("woff")
}

@font-face {
    font-family: 'BasisGrotesquePro-Medium';
    src: url("../assets/fonts/BasisGrotesquePro-Medium.eot");
    src: url("../assets/fonts/BasisGrotesquePro-Medium.woff2") format("woff2"),url("../assets/fonts/BasisGrotesquePro-Medium.woff") format("woff"),url("../assets/fonts/BasisGrotesquePro-Medium.ttf") format("truetype")
}

@font-face {
    font-family: 'HelveticaNeueLTPro-BdCn';
    src: url("../assets/fonts/DuttiW-SemiBold.woff2") format("woff2"),url("../assets/fonts/DuttiW-SemiBold.woff") format("woff")
}

@keyframes openMenu {
    0% {
        visibility: visible;
        opacity: 0;
        z-index: -100;
    }

    to {
        visibility: visible;
        opacity: 1;
        z-index: 1000;
    }
}

@keyframes closeMenu {
    0% {
        visibility: visible;
        opacity: 1;
        z-index: 1000;
    }

    to {
        visibility: visible;
        opacity: 0;
        z-index: -100;
    }
}


@keyframes appearmdmenu {
    0% {
        visibility: visible;
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        transform: translateY(0);
        visibility: visible;
        opacity: 1
    }
}



@keyframes showMdMenu {
    0% {
        visibility: visible;
        opacity: 0;
        transform: translateX(-40px)
    }

    to {
        transform: translateX(0);
        visibility: visible;
        opacity: 1
    }
}

@keyframes hideMdMenu {
    0% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0)
    }

    to {
        transform: translateX(40px);
        visibility: visible;
        opacity: 0;
    }
}

@keyframes showmdmenu {
    0% {
        visibility: visible;
        opacity: 0
    }

    to {
        visibility: visible;
        opacity: 1
    }
}

@keyframes showCategoryList {
    0% {
        visibility: visible;
        opacity: 0;
        transform: translateX(-40px)
    }

    to {
        transform: translateX(0);
        visibility: visible;
        opacity: 1
    }
}

@keyframes hideCategoryList {
    0% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0)
    }

    to {
        transform: translateX(40px);
        visibility: visible;
        opacity: 0;
    }
}

body {
    margin: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Dia-Regular, Arial, Helvetica, sans-serif;
    letter-spacing: -0.2px;
    position: relative;
    left: 0px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 0 0 17.5px;
    font-family: Dia-Regular, Arial, Helvetica, sans-serif;
    font-style: var(--font-style-header);
    font-weight: 400;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

button {
    cursor: pointer;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

a, button, [role="button"], input, label, select, textarea {
    touch-action: auto;
}

a {
    background-color: transparent;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

img {
    max-width: 100%;
    border: 0;
}










.search-icon {
    padding-right: 16px;
}


@media only screen and (max-width: 767px){  
    .search-icon {
        padding-right: 0;
    }
}